#RecaptchaForm_SecretCodeForm_reCaptchaToken_Holder{
  display:none;
}

#RecaptchaForm_SecretCodeForm_SecretCode_Holder{
  display:flex;
  flex-direction:column;
  align-items:center;
  label{
    padding:10px;
  }
  .middleColumn{
    padding:10px;
    input{
      width:100%;
    }
  }
}