.tileelement{
  width:100%;
  display:flex;
  margin:10px 0px;
  background-color: rgba(255, 255, 255, 0.4);
}
.tile-container{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-items:stretch;
  width:100%;
}
.tile-border{
  display:flex;
  justify-content:center;
  align-items:center;
  background-size: 100% 100%;
  width:100%;
  height:100%;
}
.tile{
  flex: 1 1 300px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:10px;
  color:#634791;
  text-decoration: none;
  height:90px;
}
.tile:hover,
.tile:focus{
  color:#634791;
  text-decoration: none;
  transform: translateY(0.1em);
}
.tile:visited {
  color:#634791;
  text-decoration: none;
}
.tile:link{
  color:#634791;
  text-decoration: none;
}
.tile:active{
  color:#634791;
  text-decoration: none;
} 
.tile-content-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color: #634791;
  width:100%;
  height:100%;
  h3{
    font-size: 50px;
  }
  img{
    max-width:100%;
    max-height:100%;
  }
}

@media (max-width: 576px) {
  .tile{
    height:40px;
  }
  .tile-content-container{
    h3{
      font-size: 25px;
    }
  }
}